#navbar {
  /* font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif; */
  display: flex;
  align-items: center;
  background-color: rgba(215, 151, 161,0.8);
  font-weight: bolder;
  position: sticky;
  top: 0;
  color: white;
}
img {
  width: 100%;
}
ul {
  gap: 50px;
  list-style: none !important;
  display: flex;
}
ul li {
  cursor: pointer !important;
}
figure {
  width: 100px;
}

@media (max-width: 768px) {
  ul {
    display: none;
  }
}
